# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C/C++ build artifacts
*.o
*.obj
*.exe
*.so
*.dylib
*.dll

# IDEs & Editor configs
.vscode/
.idea/
*.swp
*.swo

# Test & coverage artifacts
.coverage
htmlcov/
.pytest_cache/

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
